html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'cv05' 1; /* Enable lowercase l with tail */
}

.wrapper {
  margin: var(--ds-size-4);
  padding: var(--ds-size-12);
}

.random {
  border: 1px solid var(--ds-color-neutral-border-strong);
  border-radius: var(--ds-border-radius-md);
  margin-top: var(--ds-size-4);
  padding: var(--ds-size-4)
}